@use '../../scss/variables';

.addToFavorites {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: variables.$contentBg;
    &::after, &::before {
        display: block;
        content: '';
        position: absolute;
        background-color: rgb(121, 121, 121);
        width: 1px;
        height: 60%;
        left: 50%;
        top: 50%;
        transform-origin: center;
        transition: all .2s ease;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    &::before {
        transform: translate(-50%, -50%);
    }
}

.deleteFromFavorites {
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}