@use '../../scss/variables';

.album {
    height: 100%;
    overflow-x: clip;
    padding-bottom: 30px;
    &Header {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid #333;
        margin-bottom: 30px;
        h1 { 
            margin-top: 15px;
            font-family: 'Poppins', 'Source Sans Pro', sans-serif;
            font-size: 2.5rem;
            line-height: .9;
            span {
                font-size: 1.2rem;
                margin-top: 7px;
                a {
                    color: variables.$textGrey;
                    &:hover {
                        color: variables.$accent;
                    }
                }
            }
        }
        
        p {
            margin-top: 10px;
            color: variables.$textGrey;
            font-size: 1.1rem;
        } 
    }
    &Picture {
        display: flex;
        justify-content: center;
        img {
            max-width: 300px;
            width: 100%;
            flex-shrink: 0;
        }
    }
    
}
